@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sen:wght@700&family=Sora:wght@100..800&display=swap");
:root {
  --body-bg-color: #414e66;

  --sup-bg-color: #f2f7fb;
  --top-height: 70px;
  --main-transition: all 0.3s ease;
  --color-hover-text: #4a87ce;
  --main-border-radius: 5px;
}
*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
}

body {
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--body-bg-color);
}
a {
  color: inherit;
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  outline: none;
}

button,
textarea,
input,
select {
  color: inherit;
  font-family: inherit;
}
.row-grid {
  display: grid;
  justify-content: space-between;
}
.main-btn {
  padding: 10px 12px;
  background-color: var(--body-bg-color);
  color: whitesmoke;
  border: none;
  cursor: pointer;
}
.main-btn:hover {
  opacity: 0.9;
}
.delete,
.unconfirm {
  padding: 3px;
  background-color: red;
  color: whitesmoke;
  border-radius: 5px;
}
.edit,
.confirm {
  padding: 3px;
  background-color: green;
  color: whitesmoke;
  border-radius: 5px;
}
/* admin */
.admin .row-grid {
  grid-template-columns: 20% 80%;
}
/* sidebar-top */
.admin-sidebar {
  height: 100vh;
  background: var(--body-bg-color);
}
.admin-sidebar-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--top-height);
  border-bottom: 1px solid #ccc;
  background: #ccc;
}
.admin-sidebar-top img {
  width: 100px;
}
.admin-sidebar-content {
  padding: 30px 0 0 30px;
  color: white;
}
.admin-sidebar-content ul li {
  padding: 6px 0;
  transition: var(--main-transition);
}
.admin-sidebar-content ul li:hover {
  background-color: black;
}

.admin-sidebar-content > ul > li > a {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.admin-sidebar-content > ul > li > a i:last-child {
  margin-left: auto;
}
.admin-sidebar-content ul li a i {
  margin-right: 6px;
}
.sub-menu {
  height: 0;
  transition: var(--main-transition);
  overflow: hidden;
}
.sub-menu li:hover a {
  color: var(--color-hover-text);
}
.sub-menu.active {
  height: 50px;
}

/* admin-content */
.admin-content {
  background: var(--sup-bg-color);
}
.admin-content-top {
  display: flex;
  justify-content: space-between;
  height: var(--top-height);
  border-bottom: 1px solid #ccc;
  padding: 0 12px;
  cursor: pointer;
}
.admin-content-top i {
  margin-right: 12px;
}
.admin-content-top__left ul,
.admin-content-top__right ul,
.admin-content-top__right ul li:last-child {
  display: flex;
  height: var(--top-height);
  align-items: center;
}
.admin-content-top__right ul li:last-child p {
  cursor: pointer;
}
.admin-content-top__right ul li:first-child,
.admin-content-top__right ul li:nth-child(2) {
  position: relative;
}
.admin-content-top__right ul li:first-child i:after {
  position: absolute;
  content: attr(num);
  height: 18px;
  width: 18px;
  background-color: var(--color-hover-text);
  border-radius: 50%;
  top: -10px;
  right: 3px;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: notification;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
.admin-content-top__right ul li:nth-child(2) i:after {
  position: absolute;
  content: attr(num);
  height: 18px;
  width: 18px;
  background-color: orange;
  border-radius: 50%;
  top: -11px;
  right: 3px;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: notification;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes notification {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.admin-content-top__right ul li img {
  border-radius: 50%;
  object-fit: contain;
  margin-right: 10px;
}
/* admin content main */
.admin-content-main-title h1 {
  padding: 12px;
  font-weight: 500;
  position: relative;
  font-size: 2rem;
}
.admin-content-main-title h1::before {
  position: absolute;
  content: "";
  display: block;
  height: 4px;
  width: 70px;
  background-color: var(--body-bg-color);
  top: 35px;
  left: 10px;
  border-radius: 999px;
}
/* admin-content-main-content */
.admin-content-main-content {
  background-color: white;
}
.product-add {
  display: grid;
  grid-template-columns: 80% 20%;
  padding: 12px;
  column-gap: 20px;
}
.content-left input {
  height: 40px;
  border: none;
  background-color: var(--sup-bg-color);
  margin-bottom: 20px;
  outline: none;
  border-radius: var(--main-border-radius);
  padding-left: 6px;
}
.content-two__input {
  display: flex;
  justify-content: space-between;
}
.content-two__input input {
  width: 43%;
}
.content-left textarea {
  height: 150px;
  width: 100%;
  margin-bottom: 20px;
  outline: none;
  padding: 16px;
  border: none;
}
/* content-right */
.content-right label {
  display: inline-block;
  padding: 10px 12px;
  background-color: #000;
  color: whitesmoke;
  cursor: pointer;
}
.img-show,
.imgs-show {
  min-height: 150px;
}

/* product_list */
.product-list table,
.order-list table {
  width: 100%;
  border-collapse: collapse;
  padding: 12px 0;
  text-align: center;
}
.product-list table th,
.product-list table td,
.order-list table th,
.order-list table td {
  vertical-align: middle; /* Căn giữa theo chiều dọc */
  border-bottom: 1px solid #ccc; /* Đường kẻ giữa các hàng */
}
.product-list table th,
.order-list table th {
  background-color: var(--body-bg-color);
  color: whitesmoke;
  padding: 12px 0;
}
.admin-content-main-content table td img {
  display: block;
  padding: 10px 0;
  margin: auto;
}
/* order-list */
.order-list tbody tr td {
  padding: 12px;
}
