.header-bar-icon,
.header__logo-mobile {
  display: none;
}
@media only screen and (max-width: 768px) {
  /* Header */
  .container {
    width: 100%;
  }
  /* .header__nav, */
  .header__logo,
  .header__search {
    display: none;
  }
  .header__nav {
    /* z-index: 999; */
    position: fixed;
    top: -100%;
    left: 0;
    width: 100vw;
    background-color: #000;
    color: var(--main-bg-color);
    transition: var(--main-transition);
  }
  .header__nav.active {
    top: var(--height-header);
  }
  .header__nav nav ul {
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
  }
  .header__nav nav ul li:hover {
    background: #ccc;
  }
  .header-bar-icon,
  .header__logo-mobile {
    display: block;
    padding: 10px;
  }
  .header__logo-mobile a img {
    width: 70px;
  }
  .header,
  .row-grid {
    padding: 0 12px;
  }
  /* hot product */
  .hot-products .row-grid-hot-products {
    grid-template-columns: repeat(2, 49%);
    column-gap: 15px;
  }
  /* product-detail */
  .product-detail .row-grid {
    grid-template-columns: 100%;
    row-gap: 30px;
  }
  /* cart */
  .cart-section .row-grid {
    grid-template-columns: 100%;
    row-gap: 20px;
  }
  /* footer */
  footer .row-grid {
    grid-template-columns: repeat(2, 50%);
    row-gap: 10px;
  }
}
