/* font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sen:wght@700&family=Sora:wght@100..800&display=swap");
:root {
  --height-header: 70px;
  --main-bg-color: #d5d5d5;
  --main-transition: all 0.3s ease;
  --main-color: whitesmoke;
}
*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
}

body {
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--body-bg-color);
}
a {
  color: inherit;
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  outline: none;
}

button,
textarea,
input,
select {
  color: inherit;
  font-family: inherit;
}
.icon {
  filter: var(--icon-color);
}
.row-flex {
  display: flex;
  justify-content: space-between;
}
.row-grid {
  display: grid;
  justify-content: space-between;
}
.heading-text {
  font-weight: bolder;
  padding: 12px;
  position: relative;
  font-size: 2.5rem;
  margin-top: 30px;
}
/* Header */
header {
  height: var(--height-header);
  position: fixed;
  z-index: 1;
  width: 100%;
  transition: var(--main-transition);
}
header.active {
  background: var(--main-bg-color);
}
.container {
  width: 1240px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo img {
  width: 100px;
  /* padding: 0 0 30px 0; */
}
.header__nav nav ul {
  display: flex;
  font-size: smaller;
}
.header__nav nav ul li a {
  line-height: var(--height-header);
  font-size: 1.6rem;
}
.header__nav nav ul li {
  padding: 0 10px;
  transition: var(--main-transition);
  cursor: pointer;
}
.header__nav nav ul li:hover {
  background: #ccc;
  opacity: 0.8;
}

.header__search {
  position: relative;
}
.header__search i {
  position: absolute;
  bottom: 8px;
  right: 5px;
  cursor: pointer;
}
.header__search input {
  outline: none;
  height: 30px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 999px;
  padding: 0 10px;
}

.header__cart i {
  position: relative;
  cursor: pointer;
}
.header__cart i::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  content: attr(number);
  width: 17px;
  height: 17px;
  background: #000;
  top: -10px;
  right: -10px;
  border-radius: 50%;
  color: var(--main-color);
  font-size: small;
}

/* slider */
.slider {
  position: relative;
  width: 100vw;
  aspect-ratio: 2.5/1;
  overflow: hidden;
}
.slider-items {
  position: relative;
  transition: var(--main-transition);
  /* overflow: hidden; */
}
.slider-item {
  position: absolute;
}
.slider-item img {
  width: 100vw;
  /* max-width: 100%; */
}
.slider-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}
.slider-arrow i {
  cursor: pointer;
  font-size: larger;
}
/* hot product */
.heading-text::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 5px;
  background-color: #ccc;
  top: 39px;
  left: 12px;
  border-radius: 999px;
}
.group-img {
  position: relative;
}
.cool-fresh {
  position: absolute;
  border-radius: 0 !important;
  display: block;
  object-fit: contain;
  /* aspect-ratio: 16 / 9; */
  width: 50px !important;
  height: 50px !important;
  top: 10px;
  right: 10px;
}
.voucher {
  position: absolute;
  bottom: 3px;
  z-index: 1;
  right: 0px;
}
.hot-products .row-grid-hot-products {
  grid-template-columns: repeat(5, 19%);
  column-gap: 15px;
}

.hot-product-item img {
  border-radius: 10px;
  margin-top: 18px;
  width: 100%;
}
.hot-product-item > p {
  margin-top: 10px;
  font-weight: 600;
  font-size: 1.8rem;
  margin-bottom: 6px;
}
.hot-product-item > span {
  padding: 10px 0;
  font-weight: 300;
  font-size: 1.6rem;
}

.hot-product-item-price {
  margin-top: 10px;
}
.hot-product-item-price p {
  font-weight: 500;
}

.hot-product-item-price p span {
  font-weight: 300;
  text-decoration: line-through;
}
/* footer */
footer {
  padding: 50px 0 30px 12px;
  background: #ccc;
  /* opacity: 0.8; */
  margin-top: 30px;
}
footer h3 {
  font-weight: bolder;
  margin-bottom: 10px;
}
footer .row-grid {
  grid-template-columns: repeat(4, 25%);
}

.footer-item p {
  padding: 5px 0;
  font-weight: lighter;
  line-height: 32px;
}
