:root {
  --height-header: 70px;
  --main-bg-color: #d5d5d5;
  --main-transition: all 0.3s ease;
  --main-color: whitesmoke;
}
*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
  /* font-family: Arial, Helvetica, sans-serif; */
  color: var(--text-color);
  background: var(--body-bg-color);
}
a {
  color: inherit;
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  outline: none;
}

button,
textarea,
input,
select {
  color: inherit;
  font-family: inherit;
}
.icon {
  filter: var(--icon-color);
}
.row-flex {
  display: flex;
  justify-content: space-between;
}
/* Header */
header {
  height: var(--height-header);
  position: fixed;
  z-index: 1;
  width: 100%;
}
.container {
  width: 1240px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo img {
  width: 100px;
  /* padding: 0 0 30px 0; */
}
.header__nav nav ul {
  display: flex;
  font-size: smaller;
}
.header__nav nav ul li a {
  line-height: var(--height-header);
  font-size: 1.6rem;
}
.header__nav nav ul li {
  padding: 0 10px;
  transition: var(--main-transition);
  cursor: pointer;
}
.header__nav nav ul li:hover {
  background: var(--main-bg-color);
}

.header__search {
  position: relative;
}
.header__search i {
  position: absolute;
  bottom: 8px;
  right: 5px;
  cursor: pointer;
}
.header__search input {
  outline: none;
  height: 30px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 999px;
  padding: 0 10px;
}

.header__cart i {
  position: relative;
  cursor: pointer;
}
.header__cart i::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  content: attr(number);
  width: 17px;
  height: 17px;
  background: #000;
  top: -10px;
  right: -10px;
  border-radius: 50%;
  color: var(--main-color);
  font-size: small;
}

/* slider */
.slider {
  position: relative;
  width: 100vw;
  aspect-ratio: 2.5/1;
  overflow: hidden;
}
.slider-items {
  position: relative;
  transition: var(--main-transition);
  /* overflow: hidden; */
}
.slider-item {
  position: absolute;
}
.slider-item img {
  width: 100vw;
  /* max-width: 100%; */
}
.slider-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}
.slider-arrow i {
  cursor: pointer;
  font-size: larger;
}
